h2 {
    background-color: darkgreen;
    color: white;
}

.logo {
    width: 10%;
    height: 10%;
    
}

a {
    font-size: 20px;
}

.JP {
    font-size: 30px;
}

.cabecera{
    margin-bottom: 0px;
}