<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand JP" href="#">Basurto Market</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse listado" id="listado">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" data-toggle="tooltip" data-placement="top" title="Página principal">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/listado" data-toggle="tooltip" title="Listado de las perlas">Listado</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/insertar" data-toggle="tooltip" title="Insertar una nueva promesa">Insertar</a>
      </li>
    </ul>
  </div>
  <img src="../../assets/logo.jpeg" class="float-right logo">
</nav>
