<div class="componente-listado">
  <div class="cablist">
    <img src="../assets/jugadors_mini1.png">
    
    Listado de Jugadores
    
  </div>

  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Jugador</th>
          <th>Puesto</th>
          <th>Edad</th>
          <th>Club</th>
        </tr>
      </thead>
      <tbody *ngFor="let fila of jugadores">
        <tr id="{{fila.id}}" class="fila">
            <td class="botones"></td>
            <td class="nombre"><a target="_blank" href="{{fila.enlace}}">{{fila.nombre}}</a></td>
            <td class="">{{fila.puesto}}</td>
            <td class="fechaNacimiento">{{fila.fechaNacimiento}}</td>
            <td class="club">{{fila.club}}</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

